# the bot token you want the bot to use
TOKEN = "eGfyrI1UWu-FyPy9kdBzE1xl.HEscxt.vBNq9p6BO2Y0eFRcI9A7ppfol1O"

HASTEBIN_TIMEOUT = 5

# numeric IDs of the text channels you want the bot to listen in
ALLOWED_CHANNELS = [156302293923752856, 659213955513657646]

# the character a message must start with to be interpreted by the bot
PREFIX = '!'

BOT_OWNER = 4622263691306982823
LEADERBOARD_PAGE_SIZE = 20
MAX_FOUND_LIST_SIZE = 20
MAX_UNCLAIMED_LIST_SIZE = 20
MAX_CLAIMED_LIST_SIZE = 20
MAX_CLAIMS_PER_PLAYER = 3

TAKE_TIMEOUT = 60
TAKE_REACT = "\u26D4"

# how many people need to agree to use !detonate. Does not apply to the bot owner nor DMs
DETONATE_APPROVAL = 3
DETONATE_TIMEOUT = 60
DETONATE_REACT = "\U0001F4A5"
